{% extends 'base.html.twig' %}

{% block title %}Race Information{% endblock %}

{% block body %}
    <div class='table-responsive' align="center">

        <h1>Race Information</h1>

        <table id="myTable" class="table table-hover table-bordered" style="width:75%">

            <tbody>
            <tr>
                <th scope="col">Track</th>
                <td>{{ race.track }}</td>
            </tr>
            <tr>
                <th scope="col">Username</th>
                <td>{{ race.user.username }}</td>
            </tr>
            <tr>
                <th scope="col">Time</th>
                <td>{{ race.time }}</td>
            </tr>
            <tr>
                <th scope="col">Finished Race?</th>
                <td>{{ race.completion }}</td>
            </tr>
            <tr>
                <th scope="col">Actions</th>
                <td>
                    <button class="btn btn-dark" onclick="window.location.href = '{{ path('edit_race', {'id': race.id}) }}';">Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
        <form class="form-group" style="padding-left:15px" action="{{ app.request.headers.get('referer') }}"
              method="post">
            <button class="btn btn-dark">Back</button>
        </form>
    </div>
{% endblock %}
